{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #222;
  color: WhiteSmoke;
  display: auto;
  padding: 6px;
  justify-content: auto;
  align-items: 50%;
  min-height: 100vh;
}
body #video {
  
  padding-bottom: 2px;
  padding-top:6px;
  height: 175px;
  border-radius: 24px;
 
  margin: auto;
  justify-item: center;
  align-item: center;
  
}
body {
  background-color: grey;
  justify-item: center;
  align-iten: center;
}
.box {
						border: 3px solid #000; /* Black border */
						padding: 20px; 
						display: auto; /* Space inside the border */
						width: auto;
						height: auto;          /* Width of the box */
						margin: flex ;      /* Center the box */
						border-radius: 15px;
						text-align: center;
						text-height: 15px;
						text-decoration: 10px;/* Center the text inside the box */
						background-color: grey; /* Light gray background */
				}
.text-box {
						border: 3px solid #000; /* Black border */
						padding: 20px; 
						display: auto; /* Space inside the border */
						width: auto;
						height: auto;          /* Width of the box */
						margin: flex ;      /* Center the box */
						border-radius: 15px;
						text-align: center;
						text-height: 15px;
						text-decoration: 10px;/* Center the text inside the box */
						background-color: grey; /* Light gray background */
				}
	body{
  margin: 0px;
}
main{
  margin-left 30px;
  margin-right: 30px;
}
h1{
  text-align: center;
}				
	.navbar ul{
	  list-style-type: none;
	  background-color: Gray;
	  padding: center;
	  margin: center;
	  overflow: hidden;
	}
	.navbar a{
	  color: white;
	  text-decoration: none;
	  padding: 26px;
	  display: block;
	  text-align: center;
	  border: solid black;
	  border-radius: 15px;
	}
.navbar a:hover{
	  background-color: Gray;
	}
	.navbar li{
	  float: left;
	}			
